* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.caja {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(
    90deg,
    rgba(242, 6, 6, 0.9164915966386554) 0%,
    rgba(18, 255, 0, 0.7932422969187676) 50%,
    rgba(0, 65, 255, 0.8268557422969187) 100%
  ); */
  background-image: url(../multimedia/tricolor.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  /* width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.casilla {
  background: radial-gradient(
    circle,
    rgba(238, 211, 174, 1) 0%,
    rgba(215, 199, 15, 0.9389005602240896) 100%
  );
  width: 22vmin;
  height: 22vmin;
}
/* -----------Style Home----------- */
.container-home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(27, 17, 4, 0.6699929971988796) 0%,
    rgba(215, 28, 15, 1) 100%
  );
  color: white;
}
.title-home {
  font-size: 2rem;
  position: absolute;
  top: 20px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .face {
  border-radius: 10px;
  position: absolute;
  width: 250px;
  height: 400px;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.5s;
}
.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px black;
  background: green;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.card .back {
  transform: perspective(600px) rotateY(180deg);
  box-shadow: 0 5px 10px black;
  background: rgb(0, 90, 128);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
.items {
  width: 12vmin;
  height: 12vmin;
}
.modal {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-modal:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}
.contenedor {
  border-radius: 15px;
  width: 400px;
  height: 200px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor {
  transform: translateY(0%);
}
.contenedor header {
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  background: #422020;
  color: #fff;
}
.contenido {
  height: 100%;
  color: black;
  background: radial-gradient(
    circle,
    rgba(238, 211, 174, 1) 0%,
    rgba(215, 199, 15, 0.9389005602240896) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.contenedor label {
  position: absolute;
  top: 10px;
  right: 10px;
}
.lbl-modal {
  background: #302702;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 250px;
  box-shadow: 0 5px 10px black;
}
#btn-modal {
  display: none;
}

.container-playersVs,
.container-playersCpu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    circle,
    rgba(238, 211, 174, 1) 0%,
    rgba(215, 199, 15, 0.9389005602240896) 100%
  );
  
}
.versus {
  background: #fff;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.ficha,
.ubi {
  height: 10vmin;
}
.buttonHome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}
.restart {
  color: #fff;
  width: 70px;
  height: 25px;
  background: #302702;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 10px black;
}
