* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* ------------Vista tablero--------- */
.caja {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-image: url(../multimedia/tricolor.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.casilla {
  background: radial-gradient(
    circle,
    rgba(238, 211, 174, 1) 0%,
    rgba(199, 184, 11, 0.939) 100%
  );
  width: 22vmin;
  height: 22vmin;
}
.ficha,
.ubi {
  height: 13vmin;
}
.buttonHome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}
.players_tablero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#view-name1,
#view-name2 {
  margin: 5px;
  border-radius: 5px;
  background: rgb(1, 94, 94);
  color: #fff;
  text-align: center;
}
/* --------------Vista inicio-------- */
.container-home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(27, 17, 4, 0.6699929971988796) 0%,
    rgb(43, 4, 45) 100%
  );
  color: white;
}
.title-home {
  text-align: center;
  font-size: 16px;
  position: absolute;
  top: 20px;
  text-transform: uppercase;
  background: linear-gradient(to right, #30add0 0%, #12b942 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .face {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  border-radius: 10px;
  position: absolute;
  width: 230px;
  height: 400px;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 5px 10px black;
}
.titlecard {
  color: #f6c500;
}
.back h4 {
  color: aqua;
}
.card .front {
  transform: perspective(600px) rotateY(0deg);
  background: radial-gradient(
    circle,
    rgba(27, 17, 4, 0.6699929971988796) 0%,
    rgb(2, 102, 29) 100%
  );
}
.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: radial-gradient(
    circle,
    rgba(27, 17, 4, 0.6699929971988796) 0%,
    rgb(2, 22, 102) 100%
  );
}
.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
.items {
  width: 14vmin;
  height: 14vmin;
}

/* -----------vista modo de juego----------- */
.modal {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-modal:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}
.contenedor {
  width: 270px;
  height: 180px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor {
  transform: translateY(0%);
}
.contenedor header {
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  background: #422020;
  color: #fff;
}
.contenido {
  height: 100%;

  background: radial-gradient(
    circle,
    rgba(238, 211, 174, 1) 0%,
    rgba(113, 8, 8, 0.939) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.contenedor label {
  position: absolute;
  top: 10px;
  right: 10px;
}
.lbl-modal {
  background: #302702;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 250px;
  box-shadow: 0 5px 10px black;
}
#btn-modal {
  display: none;
}
.versus {
  height: 100px;
  width: 100px;
}
/* ----------vista nombres Players & CPU---------- */
.modal1,
.modal2 {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(27, 17, 4, 0.6699929971988796) 0%,
    rgb(2, 22, 102) 100%
  );
}
.container-playersVs,
.container-playersCpu {
  border-radius: 5px;
  border: solid black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    circle,
    rgba(238, 211, 174, 1) 0%,
    rgba(215, 199, 15, 0.9389005602240896) 100%
  );
}

#reset,
#reset_Juego,
#btn-play2,
#btn-play1 {
  padding: 5px;
  color: #fff;
  height: 25px;
  background: #302702;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 10px black;
}
/* -------------vista winner-------- */
.vista_Winner {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgb(95, 58, 6) 0%,
    rgba(199, 11, 11, 0.939) 100%
  );
}
.container_winner {
  color: #fbfbfb;
  height: 80%;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(../multimedia/charazard.gif);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#reset_Juego {
  margin-top: 330px;
}
