* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.caja {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(242, 6, 6, 0.9164915966386554) 0%,
    rgba(18, 255, 0, 0.7932422969187676) 50%,
    rgba(0, 65, 255, 0.8268557422969187) 100%
  );
}
.container {
  /* width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.casilla {
  background: radial-gradient(
    circle,
    rgba(238, 211, 174, 1) 0%,
    rgba(215, 199, 15, 0.9389005602240896) 100%
  );
  width: 22vmin;
  height: 22vmin;
}
/* -----------Style Home----------- */